{
  secrets => ['reveal_your_secrets','revelio','alohamora'],
  url => '/',
  form => '/render-api',
  JWTsecret => 'webwork',
  JWTanswerURL => 'http://submit.answerJWT.com/jwt-api/',
  JWTanswerURL => 'submit.answerJWT.com'
};
